matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1649782970434/work
openpyxl @ file:///tmp/build/80754af9/openpyxl_1632777717936/work
pandas @ file:///C:/ci/pandas_1650373458095/work
plotly @ file:///opt/conda/conda-bld/plotly_1646671701182/work
streamlit==1.19.0
